.mainContainer {
    background-color: black;
    color: white;
    position: absolute;
    text-align: center;
    width: 400px;
    height: 400px;
    /* border: 5px solid black; */
    overflow: hidden;
}

.mainContainerResetPass {
    position: absolute;
    text-align: center;
    width: 350px;
    height: 200px;
    overflow: hidden;
}

.labelSignUp {
    color: white;
    display: block;
    text-align: left;
    margin-top: 5px;
    margin-left: 5%;
}

@media only screen and (max-width: 600px) {
    .mainContainer {
        background-color: black;
        color: white;
        position: absolute;
        text-align: center;
        width: 90%;
        height: 70%;
        overflow: hidden;
    }
}

@media only screen and (max-width: 600px) {
    .mainContainerResetPass {
        background-color: black;
        color: white;
        position: absolute;
        text-align: center;
        width: 90%;
        height: 70%;
        overflow: hidden;
    }
}

.inputSignUp {
    width: 90%;
    border-radius: 10px;
    border: none;
    margin: auto;
    margin-top: 5px;
    text-align: center;
    padding: 5px;
}

.messageSignUp {
    position: relative;
    z-index: 2;
    color: white;
    padding: 5px;
}

.formStyle {
    position: relative;
    z-index: 2;
    margin-top: 5%;
    text-align: center;
}


.linkStyle {
    border: none;
    background-color: transparent;
    text-decoration: none;
    color: white;
    text-align: center;
}

.linkStyle:hover {
    color: white;
}

.submitButton {
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
    margin-top: 10px;
}

#infoText {
    margin-bottom: 0px;
}

#infoAlert {
    color: #ff4469;
    margin-top: 5px;
}

.mainContainer::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 200%;
    margin-left: -10%;
    margin-top: -171px;
    background: linear-gradient(#ff00d9, #ffff00);
    animation: rotate 4s linear infinite;
}

.mainContainerResetPass::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 200%;
    margin-left: -10%;
    margin-top: -34%;
    background: linear-gradient(#ff00d9, #ffff00);
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

.mainContainer::after {
    content: "";
    position: absolute;
    background: black;
    inset: 3px;
}

.mainContainerResetPass::after {
    content: "";
    position: absolute;
    background: black;
    inset: 3px;
}

.imgStyle {
    color: black;
    margin-top: -10px;
}

.or:hover {
    color: white;
}

.resetPassBtn {
    margin-top: -10px;
}