.labelSignUp {
    display: block;
    color: black;
    text-align: left;
    margin-top: 5px;
    margin-left: 5%;
    font-size: 0.6rem;
}

.inputSignUp {
    background-color: black;
    color: white;
    width: 90%;
    border-radius: 10px;
    border: none;
    margin: auto;
    margin-top: 5px;
    text-align: center;
    padding: 5px;
    font-size: 0.6rem;
}

.messageSignUp {
    position: relative;
    z-index: 2;
    color: black;
    padding: 5px;
}

.formStyle {
    position: relative;
    z-index: 2;
    margin-top: 5%;
    text-align: center;
}

.mainContainer {
    position: absolute;
    text-align: center;
    width: 400px;
    height: 300px;
    /* border: 5px solid black; */
    overflow: hidden;
    font-size: 0.6rem;
}

.mainContainerResetPass {
    position: absolute;
    text-align: center;
    width: 350px;
    height: 200px;
    overflow: hidden;
    font-size: 0.6rem;
}

.linkStyle {
    border: none;
    background-color: transparent;
    text-decoration: none;
    color: black;
    text-align: center;
}

.linkStyle:hover {
    color: black;
}

.submitButton {
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
    font-size: 0.8rem;
    margin-top: -10px;
}

#infoText {
    margin-bottom: 0px;
}

#infoAlert {
    color: #ff4469;
    margin-top: 5px;
}

.mainContainer::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 200%;
    margin-left: -10%;
    margin-top: -150px;
    background: linear-gradient(#ff00d9, #ffff00);
    animation: rotate 4s linear infinite;
}

.mainContainerResetPass::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 200%;
    margin-left: -10%;
    margin-top: -30%;
    background: linear-gradient(#ff00d9, #ffff00);
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

.mainContainer::after {
    content: "";
    position: absolute;
    background: white;
    inset: 3px;
}

.mainContainerResetPass::after {
    content: "";
    position: absolute;
    background: white;
    inset: 3px;
}

.imgStyle {
    color: white;
    margin-top: -10px;
}

.or:hover {
    color: black;
}

.resetPassBtn {
    font-size: 0.8rem;
    margin-top: -10px;
}