.buttonStyleNavbar {
    font-size: 0.8rem;
    border: none;
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
}

@media only screen and (max-width: 600px) {
    * {
      font-size: 1rem;
    }
}

.buttonStyleNavbar:hover {
    color: rgb(205, 205, 205);
}

.navbar {
    max-height: 10vh;
}

.active {
    color: #ffffff;
    border-left: 1px solid white;
    border-right: 1px solid white;
}